{% extends 'base.html.twig' %}

{% block title%}Edition du profil d'utilisateur {% endblock %}

{% block body %}

    <div class="container">

        <h1>Modification du profil</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer vos modifications !</button>

        {{ form_end(form) }}

    </div>

{% endblock %}